<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bills</title>

</head>
<body>
    <h1>Bills</h1>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Отправить</button>
    </form>
    <table border="1", bgcolor="#7fffd4">
        <tr>
            <th>Организация</th>
            <th>№</th>
            <th>Сумма</th>
            <th>Дата</th>
        </tr>
        {% for bill in bills %}
        <tr>
            <td>{{ bill.client_org }}</td>
            <td>{{ bill.bill_number }}</td>
            <td>{{ bill.bill_sum }}</td>
            <td>{{ bill.bill_date }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>